
        <form name="loginForm" action="http://localhost:3030/api/signin" method='post'>
            <label class="item item-input">
                <input type="tel" name="number" placeholder="Mobile" required>
                <i class="icon ion-ios7-telephone"></i>
            </label>
            <br/>
            <label class="item item-input">
                <input type="password" name="password" placeholder="Password" required>
                <i class="icon ion-ios7-glasses"></i>
            </label>
            <button type="submit" class="button button-block button-positive">Login</button>
        </form>

